{% load static %}
{% load crispy_forms_tags%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css'%}">
    <title>Admin</title>
  </head>
  <body>
    <div class="jumbotron">
      <center><h4 style="text-align:center;padding:10px;background-color:#007bff;color:white;margin-bottom:50px;display:inline-block;border-radius:50px;">{{theme}}</h4></center>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form | crispy}}
        <center><input type="submit" value="{{theme}}" class="btn btn-primary" style="margin-top:20px;"></center>
      </form>
    </div>
  </body>
</html>
